@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #c48f46;
    --heading-color: #FFFFFF;
    --bg-color-1: #272D30;
    --bg-color-2: #24282A;
}

a{
    text-decoration: none;
    color: #333;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

body{
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFFB3;
    background-color: #646667;
}

h1, h2, h3 h4, h5 h6{ 
    font-family: "Lora", serif;
    /* color: var(--heading-color); */
}

.container{
    width: 1170px;
    margin: auto;
}

.fix:before, .fix:after{
    content: "";
    clear: both;
    display: table;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}


.header-top-area{
    padding: 20px 0;
    border-bottom: 1px solid #999;
}
.header-top-area a{
    color: var(--heading-color);
}

.header-top-info a {
    margin-right: 25px;
}
.header-top-social a{
    margin-left: 20px;
}

.header-area {
    padding: 20px 0;
}
.header{}
.logo {
    width: 120px;
    margin-right: 30px;
}
.logo a{}
.logo a img{}
.logo a span {
    display: block;
    margin-top: -42px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFFB3;
    margin-left: 55px;
}
.menu {
    width: 970px;
}
.menu ul {
    text-align: right;
}
.menu li {
    display: inline-block;
    margin-left: 20px;
}
.menu ul li a{
    color: var(--heading-color);
}

.banner-area {
    background-position: center;
    background-size: cover;
    padding: 120px 0;
}
.banner span {
    display: block;
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-color);
}
.banner h1 {
    line-height: 70px;
    font-size: 60px;
    font-weight: 600;
    color: var(--heading-color);
}
.banner h5 {
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFFB3;
}
.btn-bg {  
    color: var(--heading-color);
    padding: 15px 40px;
    background-color: var(--primary-color);
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}
.btn-bg:hover{
    background-color: #A68048;
}
.banner a.btn-bg{
    margin-top: 20px;
}

.services-area {
    background: #24282A;
}
.services{
    text-align: center;
}
.section-title {
    margin-bottom: 60px;
    text-align: center;
}
.section-title img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.section-title h5 {
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
    position: relative;
}
.section-title h5::before, .section-title h5::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    background-color: var(--primary-color);
    top: 50%;
    transform: translateY(-50%);
}
.section-title h5::before{
    left: -100px;
}
.section-title h5::after {
    right: -100px;
}
.section-title h4 {
    line-height: 60px;
    font-size: 50px;
    color: var(--heading-color);
    margin-bottom: 8px;
}
.section-title p {
    font-size: 22px;
    line-height: 30px;
}
.single-service {
    float: left;
    width: 370px;
    margin-right: 30px;
}
.single-service:last-child{
    margin-right: 0;
}
.single-service img{}
.single-service h4 {
    font-size: 25px;
    margin: 10px 0;
    color: var(--heading-color);
}
.single-service p {
    line-height: 30px;
    color: #FFFFFFE6;
}
.service-icon {
    background-color: #c48f46;
    width: 60px;
    height: 60px;
    margin: auto;
    line-height: 60px;
    border-radius: 50%;
    position: relative;
}
.service-icon:before {
    content: "";
    position: absolute;
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    left: -5px;
}
.read-more-btn{
    text-align: center;
    margin-top: 60px;
}

.counter{
    text-align: center;
}
.single-counter {
    width: 292px;
}
.single-counter h4 {
    font-size: 80px;
    font-weight: 400;
    line-height: 110px;
    color: var(--primary-color);
}
.single-counter {
    width: 292px;
    line-height: 42px;
    color: var(--heading-color);
    font-size: 30px;
}

.why-choose-area{
    background-color: var(--bg-color-2);
}
.single-why-choose{
    width: 355px;
}
.single-why-choose:nth-child(2) {
    margin: 0 30px;
    width: 400px;
}
.single-why-choose-box {
    position: relative;
    text-align: right;
    padding-right: 40px;
    margin-bottom: 60px;
}
.single-why-choose-box:last-child{
    margin-bottom: 0;
}
.single-why-choose-box i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
}
.single-why-choose-box h4 {
    font-size: 25px;
    margin-bottom: 10px;
}
.single-why-choose-box p{}
.single-why-choose:last-child .single-why-choose-box {
    text-align: left;
    padding-left: 40px;
    padding-right: 0;
}
.single-why-choose:last-child .single-why-choose-box i{
    left: 0;
}

.gallery-area{}
.gallery{}
.single-gallery {
    margin-right: 20px;
    width: 376px;
}
.single-gallery:nth-child(3), .single-gallery:nth-child(6){
    margin-right: 0;
}
.single-gallery img{}


.price-area{
    background-color: var(--bg-color-1);
}
.single-price {
    margin-right: 30px;
    width: 570px;
}
.single-price:last-child {
    margin-right: 0;
}
.single-price-list {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #303537;
}
.single-price-list:last-child{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}
.single-price-list span {
    position: absolute;
    right: 0;
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-color);
}
.single-price-list h4 {
    font-size: 26px;
}
.single-price-list p {
    margin-top: 10px;
}

.team-area{
    background-color: var(--bg-color-2);
}
.single-team {
    width: 370px;
    margin-right: 30px;
    position: relative;
    overflow: hidden;
}
.single-team:last-child{
    margin-right: 0;
}
.team-img {
    background-position: center;
    background-size: cover;
    padding-top: 125%;
}
.team-content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
    z-index: 2;
    visibility: hidden;
    transition: .5s;
    transform: rotate(0) scale(0);
}
.team-content-overlay:before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: .8;
    z-index: -1;
}
.single-team:hover .team-content-overlay{
    visibility: visible;
    /* opacity: 1; */
    transform: rotate(720deg) scale(1);
}
.team-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.team-content h4{
    font-size: 26px;
}
.team-content h4 span {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}


.contact-area{
    background-color: var(--bg-color-1);
}
.contact-info {
    width: 600px;
    margin-right: 60px;
}
.contact-info-title, .contact-info-hours{
    margin-bottom: 40px;
}
.contact-info-title span{
    color: var(--primary-color);
    font-size: 20px;
}
.contact-info-title h4 {
    font-size: 35px;
    line-height: 50px;
}
.contact-info-title p {
    font-size: 20px;
    line-height: 28px;
}
.contact-info-hours h4, .contact-info-list h4{
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 15px;
}
.contact-info-hours ul{}
.contact-info-hours ul li, .contact-info-list ul li{
    margin-bottom: 10px;
    font-size: 20px;
}
.contact-info-hours ul li:last-child, .contact-info-list ul li:last-child{
    margin-bottom: 0;
}
.contact-info-list{}
.contact-info-list h4{}
.contact-info-list ul{}
.contact-info-list ul li{}
.contact-info-list ul li i{
    padding-right: 10px;
}
.contact-form {
    width: 510px;
    background-color: #2e3336;
    padding: 35px 40px;
}
.single-contact-form {
    margin-bottom: 30px;
}
.single-contact-form:last-child{
    margin-bottom: 0;
}
.single-contact-form span {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
.single-contact-form input, .single-contact-form textarea{
    width: 100%;
    padding: 15px;
    font-size: 18px;
}
.single-contact-form textarea{}
.single-contact-form input[type="submit"]{
    background-color: var(--primary-color);
    color: var(--heading-color);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
}

.footer-area{
    background-color: #1a1d1f;
}
.footer-top {
    border-bottom: 1px solid #454749;
    padding-bottom: 24px;
    margin-bottom: 26px;
}
.footer-top-title {
    margin-right: 30px;
}
.footer-top-title h4{
    font-size: 25px;
}
.footer-top-info{}
.footer-top-info span {
    margin-left: 20px;
}
.footer-top-info span i{
    margin-right: 5px;
    color: var(--primary-color);
}

.single-footer {
    width: 170px;
    margin-right: 30px;
}
.single-footer:first-child{
    width: 540px;
}
.single-footer img{}
.single-footer p {
    margin-top: 20px;
    font-size: 18px;
}
.single-footer h4 {
    margin-bottom: 15px;
    font-size: 22px;
}
.single-footer ul{}
.single-footer ul li {
    margin-bottom: 15px;
    padding-bottom: 10px;
    position: relative;
}
.single-footer ul li:before {
    content: "\f072";
    position: absolute;
    font-family: "Font Awesome 5 FREE";
    left: -40px;
    top: 0;
    font-weight: 700;
    color: rgb(235, 63, 0);
    transition: .8s;
}
.single-footer ul li:hover::before{
    left: -30px;
    color: var(--primary-color);
}
.single-footer ul li a, .icons a i{
    color: var(--heading-color);
    transition: .3s;
}
.icons{}
.icons a {
    margin-right: 10px;
}
.icons a:last-child{
    margin-right: 0;
}

.icons a i:hover, .single-footer ul li a:hover{
    color: var(--primary-color);
}

.footer-bottom.fix {
    border-top: 1px solid #454749;
    margin-top: 40px;
    padding-top: 30px;
}
.footer-copy{}
.footer-copy p{}
.footer-copy p a, .footer-menu ul li a{
    color: var(--heading-color);
    transition: .3s;
}
.footer-copy p a:hover, .footer-menu ul li a:hover{
    color: var(--primary-color);
}
.footer-menu{}
.footer-menu ul{}
.footer-menu ul li {
    display: inline-block;
    margin-left: 20px;
}


/* 
Medium Layout
checking size: 1000
*/
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .container{
        width: 970px;
    }
    .menu {
        width: 820px;
    }
    .single-service {
        width: 303px;
    }
    .single-counter {
        width: 242px;
    }
    .single-why-choose {
        width: 300px;
    }
    .single-why-choose:nth-child(2) {
        width: 310px;
    }
    .single-gallery {
        width: 310px;
    }
    .single-price {
        width: 470px;
    }
    .single-team {
        width: 303px;
    }
    .contact-info {
        width: 470px;
        margin-right: 30px;
    }
    .contact-form {
        width: 470px;
    }
    .single-footer:first-child {
        width: 400px;
    }
    .single-footer {
        width: 150px;
    }
    .single-footer ul li:before {
        left: -27px;
    }
    .single-footer ul li:hover:before{
        left: -20px;
    }
}

/* 
Tablet Layout
Checking Size: 800
*/
@media only screen and (min-width: 768px) and (max-width:991px){
    .container{
        width: 750px;
    }
    .logo a span {
        margin-top: -45px;
    }
    .menu {
        width: 600px;
    }
    .single-service {
        width: 236px;
        margin-right: 20px;
    }
    .single-counter {
        width: 187px;
        line-height: 30px;
        font-size: 20px;
    }
    .single-counter h4 {
        font-size: 60px;
        line-height: 100px;
    }
    .single-why-choose {
        width: 365px;
        margin-right: 20px;
    }
    .single-why-choose:last-child{
        margin-right: 0;
    }
    .single-why-choose:nth-child(2) {
        display: none;
    }
    .single-gallery {
        width: 236px;
    }
    .single-price {
        margin-right: 20px;
        width: 365px;
    }
    .single-price-list h4 {
        font-size: 24px;
    }
    .single-team {
        width: 236px;
        margin-right: 20px;
    }
    .contact-info {
        width: 370px;
        margin-right: 30px;
    }
    .contact-form {
        width: 350px;
    }
    .footer-top-title{
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .footer-top-info {
        width: 100%;
        text-align: center;
    }
    .footer-top-info span:first-child {
        margin-left: 0;
    }
    .single-footer:first-child {
        width: 250px;
    }
    .single-footer:first-child{
        width: auto;
    }
    .single-footer:nth-child(2){
        margin-bottom: 20px;
    }
    .single-footer{
        width: 345px !important;
    }
    .single-footer ul li:before {
        left: -22px;
    }
    .single-footer ul li:hover:before{
        right: 0;
        transform: rotate(180deg);
    }
}